{% extends './base.html' %}

<!-- content -->
{% block content %}
<!--  -->
{% if current_user.is_authenticated %}
<div class="mb-3">
    <a href="{{ url_for('books.create')}}" class="btn btn-primary">
        Add New book
    </a>
</div>
{% endif %}

<h2>All Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Show</th>
            {% if current_user.is_authenticated %}
            <th>Update</th>
            <th>Delete</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for blog in blogs %}
        <tr>
            <td>{{blog.id}}</td>
            <td>{{blog.name}}</td>
            <td>{{blog.description }}</td>
            <td>{{blog.image}}</td>
            <td>
                <a href="{{blog.show_url}}" class="btn btn-info text-white">
                    Show
                </a>
            </td>

            {% if current_user.is_authenticated and blog.user_id ==
            current_user.id %}
            <td>
                <a href="{{blog.update_url}}" class="btn btn-success">Update</a>
            </td>
            <td>
                <form action="{{ blog.delete_url }}" method="POST">
                    <input
                        type="submit"
                        value="Delete"
                        class="btn btn-danger"
                    />
                </form>
            </td>
            {% elif current_user.is_authenticated and blog.user_id !=
            current_user.id %}
            <td>
                <a href="" class="btn btn-success disabled">Update</a>
            </td>
            <td>
                <form action="" method="POST">
                    <input
                        type="submit"
                        value="Delete"
                        class="btn btn-danger disabled"
                        disabled
                    />
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
