{% extends './base.html' %}

<!-- content -->
{% block content %}
<main>
    <section>
        <div class="">
            <div class="container py-5">
                <!--  -->
                {% if current_user.is_authenticated %}
                <div class="mb-3">
                    <a
                        href="{{ url_for('books.create')}}"
                        class="btn btn-primary"
                    >
                        Add New book
                    </a>
                </div>
                {% endif %}

                <h2>All Books</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Show</th>
                            {% if current_user.is_authenticated %}
                            <th>Update</th>
                            <th>Delete</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{book.id}}</td>
                            <td>{{book.name}}</td>
                            <td>{{book.description }}</td>
                            <td>{{book.image}}</td>
                            <td>
                                <a
                                    href="{{book.show_url}}"
                                    class="btn btn-info text-white"
                                >
                                    Show
                                </a>
                            </td>

                            {% if current_user.is_authenticated and book.user_id
                            == current_user.id %}
                            <td>
                                <a
                                    href="{{book.update_url}}"
                                    class="btn btn-success"
                                    >Update</a
                                >
                            </td>
                            <td>
                                <form
                                    action="{{ book.delete_url }}"
                                    method="POST"
                                >
                                    <input
                                        type="submit"
                                        value="Delete"
                                        class="btn btn-danger"
                                    />
                                </form>
                            </td>
                            {% elif current_user.is_authenticated and
                            book.user_id != current_user.id %}
                            <td>
                                <a href="" class="btn btn-success disabled"
                                    >Update</a
                                >
                            </td>
                            <td>
                                <form action="" method="POST">
                                    <input
                                        type="submit"
                                        value="Delete"
                                        class="btn btn-danger disabled"
                                        disabled
                                    />
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
