{% extends './base.html' %}

<!-- content -->
{% block content %}

<main>
    <section>
        <div class="">
            <div class="container py-5">
                <!--  -->
                <div class="mb-3 d-flex justify-content-between">
                    <h2 class="">category Info</h2>

                    <a
                        href="{{ url_for('categories.list') }}"
                        class="btn btn-primary"
                    >
                        Back to all categories
                    </a>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col-5">
                            <div class="h-100">
                                <img
                                    src="{{ category.image_url }}"
                                    class="card-img-top w-100 h-100 object-cover"
                                    alt="{{ category.name }}"
                                />
                            </div>
                        </div>

                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <strong class="text-capitalize"
                                        >Name:
                                    </strong>
                                    {{category.name}}
                                </h5>
                                <p>
                                    <strong class="text-capitalize"
                                        >Image:
                                    </strong>
                                    {{category.image_url}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Book in this track</h2>

                {% for btc in category.books %}
                <li>
                    <strong>Book: </strong>
                    <a href="{{btc.show_url}}"> {{btc.name}} </a>
                </li>
                {% endfor %}
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
