{% extends './base.html' %} {% from 'bootstrap5/form.html' import render_form %}

<!-- content -->
{% block content %}
<main>
    <section>
        <div class="category-create">
            <div class="container py-5">
                <!--  -->
                <div class="content">
                    <div>
                        <h2 style="text-align: center">Add new category</h2>
                    </div>

                    {{ render_form(form) }}
                </div>
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
