{% extends './base.html' %} {% from 'bootstrap5/form.html' import render_form %}

<!-- content -->
{% block content %}
<main>
    <section>
        <div class="category-update">
            <div class="container py-5">
                <!--  -->
                <div class="content">
                    <div class="mb-5 d-flex justify-content-between">
                        <h2 class="">Update category</h2>

                        <a
                            href="{{ url_for('categories.list') }}"
                            class="btn btn-primary"
                        >
                            Back to all categories
                        </a>
                    </div>

                    {{ render_form(form) }}
                </div>
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
