{% extends './base.html' %} {% from 'bootstrap5/form.html' import render_form %}

<!-- page title -->
{% block pagetitle %} DevBlog | Login {% endblock %}

<!-- content -->
{% block content %}
<main>
    <section>
        <div class="login">
            <div class="container py-5">
                <!--  -->
                <div class="content">
                    <div class="title">
                        <h2>Login</h2>
                    </div>

                    {{ render_form(form) }}
                </div>
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
