{% extends './base.html' %}

<!-- page title -->
{% block pagetitle %} DevBlog | Home Profile {% endblock %}

<!-- content -->
{% block content %}
<main>
    <section>
        <div class="profile">
            <div class="container py-5">
                <!--  -->
                <div class="content">
                    <div class="user">
                        <div class="left">
                            <h2 class="h2">
                                Welcome, <span> {{ user.username }} </span>
                            </h2>

                            <div class="info">
                                <a class="topic-btn">
                                    <div class="icon-box">
                                        <ion-icon
                                            name="server-outline"
                                        ></ion-icon>
                                    </div>

                                    <p>{{ user.id }}</p>
                                </a>

                                <a class="topic-btn">
                                    <div class="icon-box">
                                        <ion-icon
                                            name="person-circle-outline"
                                        ></ion-icon>
                                    </div>

                                    <p>{{ user.username }}</p>
                                </a>

                                <a
                                    href="mailto:{{ user.email }}"
                                    class="topic-btn"
                                >
                                    <div class="icon-box">
                                        <ion-icon
                                            name="mail-outline"
                                        ></ion-icon>
                                    </div>

                                    <p>{{ user.email }}</p>
                                </a>
                            </div>
                        </div>

                        <div class="right">
                            <div class="pattern-bg"></div>
                            <div class="img-box">
                                <img
                                    src="{{ user.image_url }}"
                                    alt="{{ user.username }}"
                                    class="hero-img"
                                />
                                <div class="shape shape-1"></div>
                                <div class="shape shape-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="book-user blog mb-5">
                        <h2 class="h2 mb-2">Your Books</h2>
                        <ul>
                            {% for book in books %}
                            <a href="{{book.show_url}}" class="topic-btn mb-3">
                                <div class="icon-box">
                                    <ion-icon name="book-outline"></ion-icon>
                                </div>

                                <p>{{book.name}}</p>
                            </a>

                            {% endfor %}
                        </ul>
                    </div>

                    <div class="category-user blog">
                        <h2 class="h2 mb-2">Your Categories</h2>
                        <ul>
                            {% for category in categories %}
                            <!-- <li>{{ category.name }}</li> -->
                            <a href="{{category.show_url}}" class="topic-btn">
                                <div class="icon-box">
                                    <ion-icon
                                        name="pricetag-outline"
                                    ></ion-icon>
                                </div>

                                <p>{{category.name}}</p>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
